<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>servletRegisterUser</servlet-name>
        <servlet-class>Controller.servletRegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLoginUser</servlet-name>
        <servlet-class>Controller.servletLoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>servletListvideo</servlet-name>
        <servlet-class>Controller.servletListvideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLogOut</servlet-name>
        <servlet-class>Controller.servletLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSearch</servlet-name>
        <servlet-class>Controller.servletSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletViewVideo</servlet-name>
        <servlet-class>Controller.servletViewVideo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletRegisterUser</servlet-name>
        <url-pattern>/servletRegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLoginUser</servlet-name>
        <url-pattern>/servletLoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletListvideo</servlet-name>
        <url-pattern>/servletListvideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLogOut</servlet-name>
        <url-pattern>/servletLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSearch</servlet-name>
        <url-pattern>/servletSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletViewVideo</servlet-name>
        <url-pattern>/servletViewVideo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
